* {
	font-family: Montserrat;
}

/*HEADER*/
.logo-text {
	color: red;
	font-size: 16px;
	text-decoration: none;
}

/*SECCION TEXTOS*/
.single-service h2 {
	color: #E36839;
	font-size: 18px;
	text-align: left;
}

.single-service p {
	font-size: 14px;
	text-align: left;
}

.square-1 {
	width: 50px;
	height: 50px;
	background-color: #E36839;
}

button {
	background-color: #E36839;
}

.FB {
	color: #E36839;
	font-size: 20px;
}

/*IMAGENES Y TEXTO*/
.blog_post_meta h3 {
	font-size: 16px;
	color: #999999;
}

.blog_post_meta h4 {
	font-size: 12px;
	color: #E36839;
}

.RW {
	color: #E36839;
	font-size: 20px;
}

.fix {
	border: 1px solid #999999;

}

/*FOOTER*/
.footer {
	background-color: #E7663B;
}

.footer h2 {
	color: white;
	font-size: 34px;
}

.footer p {
	color: white;
}
