* {
	font-family: Arial;
}

.logo-text {
	color: red;
	font-size: 16px;
	text-decoration: none;
}
/*SECCION TEXTOS*/
.single-service h2 {
	color: #E36839;
	font-size: 12px;
}

/*FIN*/

input {
	text-decoration: none;
}
